<div class="top_bar">
  <img class="top_logo" src="assets/sauvier.png">
  <div class="top_spacer"></div>
  <div class="top_right">
      <button mat-icon-button color="accent" (click)="tryIt()"><mat-icon>shopping_cart_checkout</mat-icon></button>
  </div>
</div>
<div class="main_bar">
  <button (click)="login()">Login</button>
  <button (click)="logout()">Logout</button>
  <button (click)="createCustomer()">Create Customer!</button>
  <button (click)="tryIt()">Create Stripe Checkout!</button>
  <button (click)="tryIt2()">Create Account!</button>
  <button (click)="helloWorld()">Hello World!</button>
</div>
<div class="bott_bar"></div>